from datetime import datetime
file = open("chat_log.txt","a")
print("Welcome to chat logger!")
print("Type,'exit' to anytime end conversation.\n")
while True:
    name=input("Enter your Name :-")
    if name.lower()=='exit':
        break
    
    note=input(" your message:-")
    if note.lower()=='exit':
        break
        
    time_stamp=datetime.now().strftime("%d/%m/%Y %H:%M:%S")
        
        
    file.write(f"👤{name}\n ⏰{time_stamp}\n💌{note}\n_______\n")

file.close()
print("\n All conversation save to 'chat_log.txt'")
        
